/* Defaults */
$color-white: #fff;
$color-black: #000;

/* The 17 Goals Color Scheme */
$color-red:         #e5243b;
$color-mustard:     #dda63a;
$color-kellygreen:  #4c9f38;
$color-darkred:     #c5192d;
$color-redorange:   #ff3a21;
$color-brightblue:  #26bde2;
$color-yellow:      #fcc30b;
$color-burgundyred: #a21942;
$color-orange:      #fd6925;
$color-magenta:     #dd1367;
$color-goldenyellow:#fd9d24;
$color-darkmustard: #bf8b2e;
$color-darkgreen:   #3f7e44;
$color-blue:        #0a97d9;
$color-limegreen:   #56c02b;
$color-royalblue:   #00689d;
$color-navyblue:    #19486a;